nav {
  width: 100vw;
  background: #171717;
  height: 50px;
  text-align: center;
}

nav.fixed {
  position: fixed;
  top: 0;
}
nav ul {
  display: inline;
}
nav ul li {
  float: left;
  border-right: 1px solid #777;
  list-style: none;
  text-align: center;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

nav ul li a.active {
  background-color: #b4e952;
  color: #666;
}

nav ul li a.active::after {
  content: '█';
  color: white;
  margin-left: 2px;
  animation: cursor-anim 1s infinite;
}

nav ul li::hover {
  background-color: #000;
}

#nav-title h1 {
  animation: fix-anim 1s forwards;
}

@keyframes cursor-anim {
  0%   { color: #b4e952; }
  25%  { color: #b4e952; }
  50%  { color: #b4e952; }
  75%  { color: white;   }
  100% { color: white;   }
}

@keyframes fix-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  nav {
    padding: 0;
    text-align: left;
    vertical-align: middle;
  }

  nav.fixed {
    position: fixed;
    top: 0;
  }

  nav h1 {
    font-size: 18px;
  }
}
